.green_door {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

@keyframes fade-out {
    from {
        opacity: 1;
        height: auto;
    }
    to {
        opacity: 0;
        height: 0;
    }
}

.door {
    opacity: 0;
    height: 0;
    display: none;
    animation-name: fade-out;
    animation-delay: 1s;
}
#door1 img {
    width: 100%;
    height: 165px;
    object-fit: contain;
    cursor: pointer;
}
.other_doors img{
    width: 100%;
    height: 170px;
    object-fit: contain;
    cursor: pointer;
}
.mapouter{
    width: 100% !important;
}
textarea:focus, input:focus{
    outline: none!important;
}
